/* Idea for this one:
Basically everything is flex. To make it responsive switch direction from flex row to flex column
*/

@use "../../utils/mixins" as *;
@use "../../utils/animations";
@use "../../utils/tooltip";
@use "../../utils/footer";

@use "mainsite.scss";
@use "undermainsite.scss";
@use "./departmentcoursestable";

:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // comment
}

/* 

This is all nav bar stuff:*/

/* end nav bar stuff */

.sitecontainer {
  min-height: 100vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
}

/* 
Above mainsite and its children
*/

.abovemainsite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 300px;
}
/* topnav beginning */
.topnav {
  /* change this color to see it and make changes */

  background-color: #eee;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
}

.breadcrumbs #current {
  /* this is the current page the user is on */
  text-decoration: none;

  color: rgb(200, 74, 12);
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumbs {
  background-color: #eee;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  padding-left: 30px;

  column-gap: 19px;
  list-style-type: none;
  color: #081a75;
}

.breadcrumbs ul li a {
  text-decoration: none;
  color: #081a75;
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

/* this is for the icon in the breadcrumbs */
.fa-chevron-right {
  vertical-align: middle; /* or baseline, or -2px tweak */
  font-size: 12px; /* adjust size */
  margin: 5px 0 0px 0; /* spacing */
  color: #081a75;
}
/* 

still in top nav, but now the homeandabout section

*/
.homeandabout {
  background-color: var(--secondarynavy);
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: row;
  /* this jsut centers the ul */
  align-items: center;
  justify-content: center;
}

.homeandabout ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.homeandabout ul li {
  /* make them big so you can hover */
  /* each one takes up 1/3 width */
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.homeandabout li:hover {
  background-color: #284dbc;
}
.homeandabout ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  /* nice font when bolded */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* make the whole li box clickable */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* now outside of top nav */

.degreenamebox {
  /* border: 4px solid black; */
  width: 60%;
  height: 200px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#degreenametitle {
  font-size: 45px;
  color: #060212;
}

/* now done with above main site... */

/* mainsite will be the name, plus some of the files, plus some images. But there can be stuff below it in, Since sitecontainer is flex column  */

/* 
Begin left content stuff
*/
.leftcontent {
  /* this affects the width */
  flex: 40%;
  background-color: #ffffff;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 35px;
}

.linksvg {
  /* filter: invert(100%) brightness(200%); */
  width: 20px;
  height: auto;
  position: absolute;
  margin-top: 0px;
}

.filescontainer {
  border: 4px dashed rgb(16, 11, 82);
  border-radius: 26px;
  width: 92%;
  padding: 20px 29px;
}

/* this controls this h3 elements in files container */
.filescontainer h3 {
  color: #284dbc;
}

/* this changes the styling on the names of the file like "Sample Semester PDF */

/* add animations to these mf's */

/* end left content stuff */
/* 





*/
/* 





*/

.renderedcsvdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#csvheading {
  color: #284dbc;
  font-size: 26px;
  margin: 19px;
  margin-bottom: 6px;
}
.copyanddownload {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  column-gap: 19px;
  height: 50px;

  width: 90%;
  margin: -20px 0px -14px 0px;
}
/* add share icon in the future */

#animatebutton {
  border: 1px solid rgb(35, 44, 116);
  color: white;
  background-color: #153f66;
  width: 75px;
  padding: 0px 6px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s;
}

#animatebutton:hover {
  cursor: pointer;
  background-color: #fdfbfa;
  color: #153f66;

  border: 3px solid rgb(15, 29, 89);
}

.copyanddownload i {
  font-size: 28px;
  color: rgb(21, 21, 69);
}
.copyanddownload i:hover {
  cursor: pointer;
}

/* all table styling is in tablestyling.css  */

/* beginning of all the media quieries */

@media screen and (min-width: 700px) and (max-width: 1272px) {
  #degreenametitle {
    font-size: clamp(40px, 9.5vw, 43px);
    color: #060212;
  }

  .leftcontent {
    padding: 25px 10px;
  }
  /* all the following is in left content */
  .filescontainer {
    border: 4px dashed rgb(16, 11, 82);
    width: 92%;
    padding: 20px 20px;
  }
  .linkbox {
    display: flex;
    flex-direction: column;
    /* make the download text all even */
    justify-content: center;

    align-items: flex-start;
    row-gap: 20px;
  }

  .linkbox p {
    margin: 0;
  }

  .linkbox p:first-of-type {
    margin-top: 26px;
    font-weight: bold;
  }

  #csvheading {
    margin: 19px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1135px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    height: 300px;
  }

  .degreenamebox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 200px;
    width: 100%;
    padding-left: 20px;
  }
  .topnav {
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  /* theres already padding here from the originally declared style */
  .breadcrumbs {
    background-color: #eee;
    flex-basis: auto;
    width: 69%;

    height: 100px;
    /* the breadcrumbs content will possibly wrap */
  }

  /* add some right padding */
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
  .homeandabout {
    width: 30%;
  }
}
/* 

Mobile Screens

*/
@media screen and (max-width: 700px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */

    /* bigger height as well for the bigger topnav */
    height: 345px;
  }

  .degreenamebox {
    height: 190px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  #degreenametitle {
    font-size: 35px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 155px;
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 75px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .breadcrumbs {
    background-color: #eee;
    width: 100%;
    flex: none;

    /* margin top needs to be added since home and about is now fixed position */
    height: 80px;
    order: 2;

    /*  */
  }
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
  /* 
  

  
   this one here is pretty important */
  .mainsite {
    flex-direction: column;
  }

  .leftcontent {
    padding: 25px 10px;
  }

  #csvheading {
    /* add more spacing */
    margin-bottom: 50px;
  }

  #pdfcontainer .linkbox,
  #csvcontainer .linkbox {
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;

    align-items: flex-start;
  }

  #pdfcontainer .linkbox p,
  #csvcontainer .linkbox p {
    margin: 6px;
  }
  #pdfcontainer .linkbox p:first-of-type,
  #csvcontainer .linkbox p:first-of-type {
    margin-top: 15px;
    font-weight: bold;
    max-width: 137px;
  }
}

/* even smaller screensizes here */
@media screen and (max-width: 550px) {
  .breadcrumbs ul li a {
    color: #081a75;
    font-size: 14px;
  }

  .breadcrumbs #current {
    /* this is the current page the user is on */
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width: 450px) {
  .breadcrumbs ul li a {
    color: #081a75;
    font-size: 13px;
  }

  .breadcrumbs #current {
    /* this is the current page the user is on */
    font-size: 13px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */

    /* bigger height as well for the bigger topnav */
    height: 375px;
  }

  .degreenamebox {
    height: 210px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 35px;
  }
  #degreenametitle {
    font-size: 35px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 165px;
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 75px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .breadcrumbs {
    background-color: #eee;
    width: 100%;
    flex: none;

    /* margin top needs to be added since home and about is now fixed position */

    height: 90px;
    order: 2;

    /*  */
  }
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
}
