/* Idea for this one:
Basically everything is flex. To make it responsive switch direction from flex row to flex column
*/
@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.26);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleupless {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.linkbox a i:hover {
  cursor: pointer;
  animation: scaleup 1.2s ease 1 forwards;
}

/* for about.html */
.icons a:hover {
  cursor: pointer;
  animation: scaleupless 1.2s ease 1 forwards;
}

.substackcontainer a .bi-substack:hover {
  animation: scaleupless 1.2s ease 1 forwards;
  /* remove it for now: */
}

.copyanddownload i:hover {
  cursor: pointer;
  animation: scaleupless 1.2s ease 1 forwards;
}

.fa-linkedin:hover {
  color: #0e6899 !important;
}

.icons a .bi-substack:hover {
  fill: #f36822;
}

/* add animations for GitHub and LinkedIn icons later as well */
@keyframes scaleandspin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.35) rotate(360deg);
  }
  53% {
    transform: scale(1.35) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
footer #smalllogo:hover {
  cursor: pointer;
  animation: scaleandspin 2.6s ease 1 forwards;
}

@keyframes shiftleft {
  0% {
    transform: translateX(0px);
    transform: scale(1);
  }
  25% {
    transform: translateX(50px) scale(1.3);
    color: lightskyblue;
  }
  /* 
  40% {
    transform: translateX(25px);
    color: lightskyblue;
  } */
  50% {
    transform: translateX(0px);
    color: rgb(77, 158, 208);
  }
  /*   
  60% {
    transform: translateX(-25px);
    color: lightskyblue;
  } */
  /* 
  70% {
    transform: translateX(-50px);
    color: lightskyblue;
  } */
  75% {
    transform: translateX(-50px);
    color: lightskyblue;
    background-color: aquamarine;
  }
  /* 
  80% {
    transform: translateX(-25px);
    color: lightskyblue;
  }

  90% {
    transform: translateX(-10px);
    color: lightskyblue;
  } */
  100% {
    transform: translateX(0px) scale(1);
  }
}
/* I should also add spans around each word so I can animate columns as well.  */
.tableanimationforwards {
  /* custom curve */
  /* get this two seconds value in javascript */
  animation: shiftleft 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

@keyframes updownog {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(20px) scale(1);
    background-color: rgb(182, 227, 255);
    font-size: 20px;
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.updownblue {
  animation: updownog 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

@keyframes updownred {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(20px) scale(1);
    background-color: rgb(251, 241, 58);
    font-size: 20px;
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
.updownred {
  animation: updownred 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  animation-delay: calc(var(--order) * 300ms);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: -moz-max-content;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

footer {
  height: 220px;
  width: 100%;
  background-color: rgba(0, 24, 75, 0.4549019608);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20%;
       column-gap: 20%;
  font-family: Helvetica, sans-serif;
  position: relative;
  overflow: visible;
}
footer .footerleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
}
footer .footerleft .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
footer .footerright #smalllogo {
  /* animation has been added in animations.css  */
  width: 85px;
  height: 85px;
  border-radius: 10px;
  border: 3px solid #081a75;
}
footer .footerright #statement {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  margin: 0;
  margin-top: 19px;
  font-weight: 700;
}
footer a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  footer a {
    font-size: 19px;
  }
}
footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
  --statsnameorder: 1;
}

.mainsite {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
  flex: 1 1 350px;
  border-top: 10px solid var(--secondarynavy);
  border-bottom: 10px solid var(--secondarynavy);
}
.mainsite .leftcontent {
  /* this affects the width */
  flex: 40%;
  background-color: #ffffff;
  padding: 15px;
  padding-top: 120px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 35px;
}
.mainsite .leftcontent .filescontainer {
  border: 4px dashed rgb(16, 11, 82);
  border-radius: 26px;
  width: 92%;
  padding: 20px 29px;
}
.mainsite .leftcontent .filescontainer h3 {
  color: #284dbc;
}
.mainsite .leftcontent .filescontainer .filesname {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.mainsite .leftcontent .filescontainer .filesname i {
  font-size: 20px;
}
.mainsite .leftcontent .filescontainer ul {
  list-style-type: none; /* Removes bullets */
  /* indent */
  padding-left: 30px;
}
.mainsite .leftcontent .filescontainer ul .linkbox {
  display: flex;
  flex-direction: row;
  /* make the download text all even */
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 700px) {
  .mainsite .leftcontent .filescontainer ul .linkbox {
    display: flex;
    flex-direction: column;
    /* make the download text all even */
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
  }
}
.mainsite .leftcontent .filescontainer ul .linkbox p:first-of-type {
  margin-top: 10px;
  font-weight: bold;
  max-width: 137px;
}
.mainsite .leftcontent .filescontainer ul .linkbox #underconstruction {
  display: block; /* or block if you want it on its own line */
  margin-top: 10px;
  margin-bottom: 3px;
  color: rgb(209, 76, 14);
  border-bottom: 2px solid rgb(209, 76, 14);
}
.mainsite .leftcontent .filescontainer ul .linkbox a i {
  color: rgb(21, 21, 69);
}
.mainsite .leftcontent .filescontainer ul .linkbox span#original {
  color: white;
  -webkit-text-stroke: 0.5px black; /* outline around text */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #284dbc; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#darktheme {
  color: #041442;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #041442; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#greentheme {
  color: #238808;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #238808; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#deserttheme {
  color: #603303;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #603303; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#greyscaletheme {
  color: #5f6470;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #2e3138; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#oceantheme {
  color: #033f60;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #033f60; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#pasteltheme {
  color: #925c8b;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #925c8b; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#primarytheme {
  color: rgb(249, 55, 55);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #d8024d; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#blacktheme {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #000; /* underline is red, text can be another color */
}
.mainsite .leftcontent .filescontainer ul .linkbox span#neontheme {
  color: #dd098b;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; /* pushes the underline away from the text */
  text-decoration-color: #dd098b; /* underline is red, text can be another color */
}
.mainsite .rightcontent {
  flex: 60%;
  background-color: rgb(113, 179, 185);
  padding: 0px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
@media screen and (max-width: 700px) {
  .mainsite .rightcontent {
    padding-top: 40px;
  }
  .mainsite .rightcontent .displaynamebox {
    margin-bottom: 50px;
  }
  .mainsite .rightcontent .displaynamebox #displayname {
    font-size: 20px;
    overflow-wrap: anywhere; /* lets words break anywhere if needed */
    word-break: break-word; /* fallback */
  }
}
.mainsite .rightcontent .displaynamebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding top 30 plus this height 50  equals 80 which is padding top of right content */
  height: 120px;
  width: 100%;
}
.mainsite .rightcontent .displaynamebox #displayname {
  color: white;
  font-size: 25px;
  margin: 0; /* reset browser h3 margins */
  margin-bottom: 20px;
}
.mainsite .rightcontent .displaynamebox #charticon {
  font-size: 30px;
  color: white;
  display: inline;
  margin: 0 0 0 0;
  margin-left: -40px; /* small space between text and icon */
  margin-bottom: 20px;
  vertical-align: middle; /* aligns icon with text baseline */
}
.mainsite .rightcontent .departmentstats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  width: 90%;
  height: auto;
  border-right: 10px solid #1c94e5;
  border-left: 0px solid white;
}
@media screen and (max-width: 700px) {
  .mainsite .rightcontent .departmentstats section.statsline {
    font-size: 14px;
    height: 200px !important;
  }
}
.mainsite .rightcontent .departmentstats section.statsline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: center;
  gap: 0;
  border-top: 10px solid #1c94e5;
  border-bottom: 10px solid #1c94e5;
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  align-items: stretch;
}
.mainsite .rightcontent .departmentstats section.statsline div.statsname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 0;
  width: 30%;
  margin: 0 10px;
  order: var(--statsnameorder);
}
.mainsite .rightcontent .departmentstats section.statsline div.statscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 0;
  width: 70%;
  padding: 0px 10px;
  background-color: white;
}
.mainsite .rightcontent .departmentstats #coursecount .statsname {
  width: 60%;
}
.mainsite .rightcontent .departmentstats #coursecount .statscontent {
  font-size: 25px;
  width: 40%;
}
.mainsite .rightcontent .departmentstats #longestname .statscontent {
  font-size: 15px;
}
.mainsite .rightcontent .departmentstats #shortestname .statsname {
  width: 60%;
}
.mainsite .rightcontent .departmentstats #shortestname .statscontent {
  width: 40%;
}
.mainsite .rightcontent .departmentstats #uppercount .statscontent {
  font-size: 25px;
  width: 40%;
}
.mainsite .rightcontent .departmentstats #uppercount .statsname {
  width: 60%;
}
.mainsite .rightcontent .departmentstats #lowercount .statscontent {
  font-size: 25px;
  width: 40%;
}
.mainsite .rightcontent .departmentstats #lowercount .statsname {
  width: 60%;
}
.mainsite .rightcontent .departmentstats #gradcount .statscontent {
  font-size: 25px;
  width: 40%;
}
.mainsite .rightcontent .departmentstats #gradcount .statsname {
  width: 60%;
}
.mainsite .rightcontent .departmentstats #samenamecount .statscontent {
  font-size: 25px;
  width: 40%;
}
.mainsite .rightcontent .departmentstats #samenamecount .statsname {
  width: 60%;
}

.undermainsite {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* this is for now essentially footer top margin */
  height: auto;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.undermainsite #departmenttableheading {
  color: #284dbc;
  font-size: 26px;
  margin: 19px;
  margin-bottom: 6px;
}
.undermainsite .copyanddownload {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  height: 50px;
  width: 90%;
  margin: -20px 0px -14px 0px;
}
.undermainsite .copyanddownload #animatebutton {
  border: 1px solid rgb(35, 44, 116);
  color: white;
  background-color: #153f66;
  width: 75px;
  padding: 0px 6px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s;
}
.undermainsite .copyanddownload #animatebutton:hover {
  cursor: pointer;
  background-color: #fdfbfa;
  color: #153f66;
  border: 3px solid rgb(15, 29, 89);
}
.undermainsite .copyanddownload i {
  font-size: 28px;
  color: rgb(21, 21, 69);
}
.undermainsite .copyanddownload i:hover {
  cursor: pointer;
}
.undermainsite #departmentcoursestable {
  width: 90%;
  border-radius: 26px;
  /* border: 5px solid #081a75; */
  padding: 0px;
  min-height: 100px;
  height: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smoother scroll on mobile */
}

/* add share icon in the future */
/* Idea for this one:
Basically everything is flex. To make it responsive switch direction from flex row to flex column
*/
:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
  --vibrantorange: rgb(244, 102, 70);
}

#departmentcoursestable {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  #departmentcoursestable {
    overflow-wrap: anywhere; /* lets words break anywhere if needed */
    word-break: break-word; /* fallback */
  }
}

#departmentcoursestable td,
#departmentcoursestable th {
  border: 1px solid #ccc;
  padding: 15px 9px;
  min-height: 40px;
}

/* delete 2nd row */
/* style first row bold */
#departmentcoursestable tr:first-child {
  font-weight: bold;
  background-color: var(--vibrantorange);
  color: white;
  border: none;
  font-size: 20px;
  padding: 18px;
}
#departmentcoursestable tr:first-child td:first-child {
  text-align: left;
  border: none;
}
#departmentcoursestable tr:first-child td:nth-child(2) {
  text-align: right;
  border: none;
}

/* add border radius to the whole #departmentcoursestable */
#departmentcoursestable tr:first-child td:nth-of-type(1) {
  border-top-left-radius: 10px;
  padding-left: 10px;
}

#departmentcoursestable tr:first-child td:nth-of-type(2) {
  border-top-right-radius: 10px;
  padding-right: 15px;
}

#departmentcoursestable tr:last-child td:nth-of-type(1) {
  border-bottom-left-radius: 10px;
}

#departmentcoursestable tr:last-child td:nth-of-type(4) {
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;
  border-collapse: separate;
}

#departmentcoursestable tr:nth-of-type(2) td {
  font-weight: bold;
}

/* change alignment */
td:nth-child(1),
th:nth-child(1) {
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: left;
}

td:nth-child(3),
th:nth-child(3) {
  text-align: center;
}

td:nth-child(5) {
  display: none;
}

/* alternating bcg for lines */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

/* style Degreeview Logo */
#departmentcoursestable tr:last-child {
  background-color: #fff;
}

#departmentcoursestable tr:last-child td:first-child {
  font-weight: bold;
  color: #0c48a5;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 30px;
}

:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  filter: contrast(110%);
  filter: saturate(110%);
}

/* 

This is all nav bar stuff:*/
/* end nav bar stuff */
.sitecontainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
}

/* 
Above mainsite and its children
*/
.abovemainsite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 300px;
}

/* topnav beginning */
.topnav {
  /* change this color to see it and make changes */
  background-color: #eee;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
}

.breadcrumbs #current {
  /* this is the current page the user is on */
  text-decoration: none;
  color: rgb(200, 74, 12);
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumbs {
  background-color: #eee;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  list-style-type: none;
  color: #081a75;
}

.breadcrumbs ul li a {
  text-decoration: none;
  color: #081a75;
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

/* this is for the icon in the breadcrumbs */
.fa-chevron-right {
  vertical-align: middle; /* or baseline, or -2px tweak */
  font-size: 12px; /* adjust size */
  margin: 5px 0 0px 0; /* spacing */
  color: #081a75;
}

/* 

still in top nav, but now the homeandabout section

*/
.homeandabout {
  background-color: var(--secondarynavy);
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: row;
  /* this jsut centers the ul */
  align-items: center;
  justify-content: center;
}

.homeandabout ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.homeandabout ul li {
  /* make them big so you can hover */
  /* each one takes up 1/3 width */
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.homeandabout li:hover {
  background-color: #284dbc;
}

.homeandabout ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  /* nice font when bolded */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* make the whole li box clickable */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* now outside of top nav */
.degreenamebox {
  /* border: 4px solid black; */
  width: 60%;
  height: 200px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#degreenametitle {
  font-size: 45px;
  color: #060212;
}

/* now done with above main site... */
/* mainsite will be the name, plus some of the files, plus some images. But there can be stuff below it in, Since sitecontainer is flex column  */
/* 
Begin left content stuff
*/
.leftcontent {
  /* this affects the width */
  flex: 40%;
  background-color: #ffffff;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 35px;
}

.linksvg {
  /* filter: invert(100%) brightness(200%); */
  width: 20px;
  height: auto;
  position: absolute;
  margin-top: 0px;
}

.filescontainer {
  border: 4px dashed rgb(16, 11, 82);
  border-radius: 26px;
  width: 92%;
  padding: 20px 29px;
}

/* this controls this h3 elements in files container */
.filescontainer h3 {
  color: #284dbc;
}

/* this changes the styling on the names of the file like "Sample Semester PDF */
/* add animations to these mf's */
/* end left content stuff */
/* 





*/
/* 





*/
.undermainsite {
  background-color: rgb(229, 249, 250);
  width: 100%;
  /* this is for now essentially footer top margin */
  height: auto;
  padding: 20px 0px 50px 0px;
}

.renderedcsvdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#csvheading {
  color: #284dbc;
  font-size: 26px;
  margin: 19px;
  margin-bottom: 6px;
}

.copyanddownload {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  height: 50px;
  width: 90%;
  margin: -20px 0px -14px 0px;
}

/* add share icon in the future */
#animatebutton {
  border: 1px solid rgb(35, 44, 116);
  color: white;
  background-color: #153f66;
  width: 75px;
  padding: 0px 6px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s;
}

#animatebutton:hover {
  cursor: pointer;
  background-color: #fdfbfa;
  color: #153f66;
  border: 3px solid rgb(15, 29, 89);
}

.copyanddownload i {
  font-size: 28px;
  color: rgb(21, 21, 69);
}

.copyanddownload i:hover {
  cursor: pointer;
}

#csvtablecontainer {
  width: 90%;
  border-radius: 26px;
  /* border: 5px solid #081a75; */
  padding: 0px;
  min-height: 100px;
  height: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smoother scroll on mobile */
}

/* all table styling is in tablestyling.css  */
/* beginning of all the media quieries */
@media screen and (min-width: 700px) and (max-width: 1272px) {
  #degreenametitle {
    font-size: clamp(40px, 9.5vw, 43px);
    color: #060212;
  }
  .leftcontent {
    padding: 25px 10px;
  }
  /* all the following is in left content */
  .filescontainer {
    border: 4px dashed rgb(16, 11, 82);
    width: 92%;
    padding: 20px 20px;
  }
  .linkbox {
    display: flex;
    flex-direction: column;
    /* make the download text all even */
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
  }
  .linkbox p {
    margin: 0;
  }
  .linkbox p:first-of-type {
    margin-top: 26px;
    font-weight: bold;
  }
  #csvheading {
    margin: 19px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1135px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    height: 300px;
  }
  .degreenamebox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 200px;
    width: 100%;
    padding-left: 20px;
  }
  .topnav {
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  /* theres already padding here from the originally declared style */
  .breadcrumbs {
    background-color: #eee;
    flex-basis: auto;
    width: 69%;
    height: 100px;
    /* the breadcrumbs content will possibly wrap */
  }
  /* add some right padding */
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
  .homeandabout {
    width: 30%;
  }
}
/* 

Mobile Screens

*/
@media screen and (max-width: 700px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    /* bigger height as well for the bigger topnav */
    height: 345px;
  }
  .degreenamebox {
    height: 190px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  #degreenametitle {
    font-size: 35px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 155px;
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 75px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .breadcrumbs {
    background-color: #eee;
    width: 100%;
    flex: none;
    /* margin top needs to be added since home and about is now fixed position */
    height: 80px;
    order: 2;
    /*  */
  }
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
  /* 



   this one here is pretty important */
  .mainsite {
    flex-direction: column;
  }
  .leftcontent {
    padding: 25px 10px;
  }
  #csvheading {
    /* add more spacing */
    margin-bottom: 50px;
  }
  #pdfcontainer .linkbox,
  #csvcontainer .linkbox {
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    align-items: flex-start;
  }
  #pdfcontainer .linkbox p,
  #csvcontainer .linkbox p {
    margin: 6px;
  }
  #pdfcontainer .linkbox p:first-of-type,
  #csvcontainer .linkbox p:first-of-type {
    margin-top: 15px;
    font-weight: bold;
    max-width: 137px;
  }
}
/* even smaller screensizes here */
@media screen and (max-width: 550px) {
  .breadcrumbs ul li a {
    color: #081a75;
    font-size: 14px;
  }
  .breadcrumbs #current {
    /* this is the current page the user is on */
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
@media screen and (max-width: 450px) {
  .breadcrumbs ul li a {
    color: #081a75;
    font-size: 13px;
  }
  .breadcrumbs #current {
    /* this is the current page the user is on */
    font-size: 13px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    /* bigger height as well for the bigger topnav */
    height: 375px;
  }
  .degreenamebox {
    height: 210px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 35px;
  }
  #degreenametitle {
    font-size: 35px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 165px;
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 75px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .breadcrumbs {
    background-color: #eee;
    width: 100%;
    flex: none;
    /* margin top needs to be added since home and about is now fixed position */
    height: 90px;
    order: 2;
    /*  */
  }
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=coursepage.css.map */