/* 
  This is for an older version of DegreeView where the departments where divided up by letters.

  But the code here is still good and can be used somewhere in the future.
  
  */

@use "../../utils/mixins" as *;
@use "../../utils/animations";

$schoolcolor: #d45c21;
$schoolcolorhover: #bf5701;

.homepage-ul {
  width: 90%;
  height: auto;
  background-color: #eee;
  list-style-type: none;

  padding: 45px 35px;
  border-radius: 26px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;

  /* 1/3 width for each column. Use media quieries to change width */
  .homepage-column {
    /*  add padding too */
    /* regenerate the  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      background-color: $schoolcolor;
      width: 100%;

      height: 190px;
      border-radius: 25px;

      padding: 25px 30px 30px 40px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      transition: background-color 0.4s border 0.4s;

      .contentdiv {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
      }

      &:hover {
        background-color: $schoolcolorhover;
        border: 2px solid white;
      }
    }
  }
  @media (min-width: 1000px) {
    /* this is the width that it will be 3 columns until */

    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 550px) {
    // this is the main one that makes it responsive.
    grid-template-columns: repeat(1, 90%);
    justify-content: center; // centers the grid track(s)

    .homepage-column a {
      padding: 25px 15px 30px 18px;

      .contentdiv {
        font-size: 18px;

        @media screen and (max-width: 375px) {
          word-break: break-all;
        }
      }
    }
  }
  /* finish this later */
}

/* this div contains all the a's */
