// so this is for UT legacy

@use "../../utils/mixins" as *;
@use "../../utils/animations";

$schoolcolor: #d45c21;
$schoolcolorhover: #bf5701;

.sitecontainer.utaustin {
  .schoolist-ul {
    width: 90%;
    height: auto;
    background-color: #eee;
    list-style-type: none;

    padding: 45px 35px;
    border-radius: 26px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;

    .schoolist-column {
      /*  add padding too */
      /* regenerate the  */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        background-color: $schoolcolor;
        width: 100%;

        height: 190px;
        border-radius: 25px;

        padding: 25px 30px 30px 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: background-color 0.4s border 0.4s;

        &:hover {
          background-color: $schoolcolorhover;
          border: 2px solid white;

          .schoolnamediv {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 25px;
          }
        }
      }

      /* this div contains all the a's */
    }

    /* 1/3 width for each column. Use media quieries to change width */

    @media (min-width: 1000px) {
      /* this is the width that it will be 3 columns until */
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
