@use "mixins" as *;

footer {
  height: 220px;
  width: 100%;
  background-color: #00184b74;
  color: rgb(255, 255, 255);

  padding: 20px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: 20%;

  font-family: Helvetica, sans-serif;

  // for tooltip
  position: relative; // ensure tooltip can overflow this box
  overflow: visible; // don't clip the tooltip

  .footerleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 15px;

    .links {
      width: 100%;
      @include flexcol;
      align-items: flex-start;

      column-gap: 35px;
    }
  }
  .footerright {
    #smalllogo {
      /* animation has been added in animations.css  */
      width: 85px;
      height: 85px;
      border-radius: 10px;
      border: 3px solid #081a75;
    }
    #statement {
      font-family: "Barlow", sans-serif;

      font-size: 25px;
      margin: 0;
      margin-top: 19px;
      font-weight: 700;
    }
  }
  a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    text-decoration: none;

    @media screen and (max-width: 500px) {
      font-size: 19px;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 3px;
    }
  }
}
