// now I can change this super easily across all pages

#animatebutton {
  border: 1px solid rgb(35, 44, 116);
  color: white;
  background-color: #153f66;
  width: 75px;
  padding: 0px 6px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #fdfbfa;
    color: #153f66;

    border: 3px solid rgb(15, 29, 89);
  }
}
