/* Idea for this one:
Basically everything is flex. To make it responsive switch direction from flex row to flex column
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,100;1,300;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;700&display=swap");
:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
}

.abovemainsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  gap: 0;
  width: 100%;
  height: 600px !important;
}
.abovemainsite .topnav {
  /* change this color to see it and make changes */
  background-color: #dce2e6;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* keep this */
  filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
}
.abovemainsite .hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 3px solid red !important;
  width: 100%;
}
.abovemainsite .hero .lefthero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  flex: 1;
  padding: 40px;
}
.abovemainsite .hero .lefthero h1.heading {
  font-size: 80px;
  color: navy;
  font-family: "Barlow", Serif;
  font-weight: 600;
}
.abovemainsite .hero .lefthero p.subheading {
  font-family: Hind Vadodara, sans-serif;
  color: #887d7d;
}
.abovemainsite .hero .lefthero button.cta {
  width: 100px;
  height: 70px;
  color: #fff;
  background-color: blue;
}
.abovemainsite .hero .righthero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: var(--lighterblue);
  height: 100%;
  align-items: flex-start;
  flex: 1;
}
.abovemainsite .hero .righthero img {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 1135px) {
  .abovemainsite .abovemainsite {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .abovemainsite .abovemainsite .topnav {
    background-color: #dce2e6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.mainsite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  -moz-column-gap: 55px;
       column-gap: 55px;
  width: 100%;
  padding: 50px 30px;
  flex: 1 1 600px;
  border-top: 10px solid #153f66;
}
.mainsite .sidebar {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  padding: 30px 10px;
  width: 30%;
  height: 500px;
}
.mainsite .sidebar h3#sidebartitle {
  width: 100%;
  border-bottom: 5px solid #000;
  margin-bottom: 4px;
  font-weight: bold;
  margin-top: 0;
}
.mainsite .sidebar p {
  border-bottom: 3px solid #eee;
  margin-bottom: 4px;
}
.mainsite .sidebar .middlenav {
  width: 100%;
}
.mainsite .sidebar .middlenav .home_random_stats {
  width: 100%;
  height: 300px;
  background-color: red;
}
.mainsite .sidebar .middlenav .home_random_stats ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  row-gap: 20px;
  /* since doing space evenly, remove gap */
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
}
.mainsite .sidebar .middlenav .home_random_stats ul li {
  /* make them big so you can hover */
  width: 80%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  background-color: #153f66;
  border-radius: 35px;
  padding: 20px;
}
.mainsite .sidebar .middlenav .home_random_stats ul li:hover {
  background-color: #284dbc;
  cursor: pointer;
}
.mainsite .sidebar .middlenav .home_random_stats ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: bold;
  /* nice font when bolded */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* make the whole li box clickable */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: color 0.3s;
}
.mainsite .sidebar .middlenav .home_random_stats ul li#randompagebutton {
  border: 3px solid rgb(35, 44, 116);
}
.mainsite .sidebar .middlenav .home_random_stats ul li#randompagebutton:hover {
  background-color: #fdfbfa;
  color: #153f66;
  border: 5px solid rgb(15, 29, 89);
  border-radius: 25px;
}

.borderdiv {
  margin-top: 100px;
  border-top: 4px solid #eee;
  padding-bottom: 50px;
  width: 90%;
  height: 0;
}

.undermainsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  /* this is for now essentially footer top margin */
  height: 200px;
}
.undermainsite .quickstats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

footer {
  height: 120px;
  width: 100%;
  background-color: rgba(0, 24, 75, 0.4549019608);
  color: White;
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-family: Helvetica, sans-serif;
}

footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 35px;
       column-gap: 35px;
  font-size: 19px;
}

.footerleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.footerleft #statement {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: 700;
}

footer #smalllogo {
  /* animation has been added in animations.css  */
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 3px solid #081a75;
}

.barlowtest {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: 600;
  color: black;
}

footer a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* crazy filters to apply */
  /* filter: invert(100%); */
  /* filter: grayscale(50%); */
  filter: contrast(110%);
  /* filter: blur(3px); */
  filter: saturate(110%);
}

/* 

This is all nav bar stuff:*/
/* end nav bar stuff */
.sitecontainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* 
Above mainsite and its children
*/
/* 




/* now outside o

/* now done with above main site... */
/* mainsite will be the name, plus some of the files, plus some images. But there can be stuff below it in, Since sitecontainer is flex column  */
/* index code */
/* this is the ul */
/* 1/3 width for each column. Use media quieries to change width */
/* this div contains all the a's */
.schoolnamediv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

/* 

Begin left content stuff
*/
/* end left content stuff */
/* 





/* 




/* end under main site */
/* beginning of all the media quieries */
@media screen and (max-width: 1135px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    height: 270px;
  }
  .headingbox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 150px;
    width: 100%;
    padding-left: 20px;
  }
  .topnav {
    background-color: #dce2e6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* top nav currently 250px */
  }
  /* for the home_random_stats stuff */
  .middlenav {
    width: 90%;
  }
  .home_random_stats ul {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  /* theres already padding here from the originally declared style */
}
/* 

Mobile Screens

*/
@media screen and (max-width: 700px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    /* bigger height as well for the bigger topnav */
    /* add the 2px for the border bottom */
    height: 272px;
  }
  .topnav {
    background-color: #dce2e6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* keep this */
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .middlenav {
    width: 90%;
    /* 300 px plus gap of 30 for 3 */
    height: 390px;
  }
  .home_random_stats {
    /* bring it to the top */
    width: 100%;
  }
  .home_random_stats ul {
    display: flex;
    flex-direction: column;
    height: 405px;
    row-gap: 35px;
  }
  .home_random_stats ul li {
    width: 60%;
    height: 25%;
  }
  .biglogobox {
    background-color: #fff;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*  */
  }
  .biglogo {
    height: 65%;
    width: auto;
  }
  /* 



   this one here is pretty important */
  .mainsite {
    flex-direction: column;
  }
  .platformsbox {
    width: 40%;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 26px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
    /* this was that icon stuff I was trying to find */
    width: 100%;
  }
  .icons a .fa-linkedin {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #0072b1;
    margin-bottom: 7px;
  }
  .icons a .bi-substack {
    font-size: 10px;
    width: 27px;
    height: 27px;
    fill: #ff7731; /* for SVG */
  }
}
/* even smaller screensizes here */
@media screen and (max-width: 550px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    /* bigger height as well for the bigger topnav */
    height: 220px;
  }
  .topnav {
    background-color: #dce2e6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* keep this */
    filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
  }
  .biglogobox {
    width: 100%;
    /* keep in mind its still flex center */
    height: 160px;
    /*  */
  }
  .biglogo {
    height: 70%;
    width: auto;
  }
  .home_random_stats {
    /* bring it to the top */
    /* order: 1; */
    height: 65px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
  }
}
@media screen and (max-width: 450px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    /* bigger height as well for the bigger topnav */
    height: 220px;
  }
  .biglogo {
    height: 65%;
    width: auto;
  }
  .topnav {
    background-color: #dce2e6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* keep this */
  }
  .home_random_stats {
    height: 65px;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */