@use "../../utils/mixins" as *;

footer {
  height: 120px;
  width: 100%;
  background-color: #00184b74;
  color: White;

  padding: 20px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: 30px;

  font-family: Helvetica, sans-serif;
}
footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 35px;
  font-size: 19px;
}
.footerleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.footerleft #statement {
  font-family: "Barlow", sans-serif;

  font-size: 25px;
  margin: 0;
  font-weight: 700;
}
footer #smalllogo {
  /* animation has been added in animations.css  */
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 3px solid #081a75;
}
.barlowtest {
  font-family: "Barlow", sans-serif;

  font-size: 25px;
  margin: 0;
  font-weight: 600;
  color: black;
}

footer a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
  font-weight: bold;
}
