@use "../../../utils/mixins" as *;

.sitecontainer#index {
  .universityul {
    @include flexcol;
    gap: 26px;
    @include border(green);
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;

    a {
      width: 100%;

      height: 60px;
      text-decoration: none;
      transition: transform 0.5s ease;

      &:hover {
        cursor: pointer;
        transform: translateY(10px);
      }

      li {
        font-weight: bold;
        text-decoration: none;
        color: rgb(3, 1, 49);
        width: 100%;
        height: 100%;
        @include flexrow;
        justify-content: flex-start;
        padding-left: 20px;

        // gets overridden by inline styles.

        border: 3px solid black;
        border-radius: 26px;
      }
    }
  }
}
