@use "../../../utils/mixins" as *;

.sitecontainer#index {
  .universityul {
    @include flexcol;
    @include border(green);
    height: 100%;
    width: 100%;

    a {
      width: 80%;
      flex: 1 1 auto; // allow the item to expand
      width: 100%;
      @include flexrow;
      justify-content: flex-start;
      padding-left: 20px;
      height: auto;

      li {
        font-weight: bold;
        text-decoration: none;
        color: white;
      }
    }
  }
}
