@mixin flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@mixin flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@mixin bodyStyling {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
}

@mixin dvbody_styling {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  // adjust this
  gap: 10px;

  // filters

  /* filter: invert(100%); */

  /* filter: grayscale(50%); */

  filter: contrast(110%);

  /* filter: blur(3px); */

  filter: saturate(110%);
  // so putting this directly in main.scss works
  // filter: hue-rotate(180deg);
}

@mixin border($color) {
  border: 4px solid $color;
  border-radius: 26px;
}

@mixin blackborder {
  border: 3px solid black;
  border-radius: 15px;
}
