@use "../../utils/animations";

:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
  --vibrantorange: rgb(244, 102, 70);
}

/* this will show up after sheetjs renders it */
#csvtablecontainer table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#csvtablecontainer table td,
#csvtablecontainer table th {
  border: 1px solid #ccc;
  padding: 15px 9px;
  min-height: 40px;
}

/* delete 2nd row */

#csvtablecontainer table tr:nth-of-type(2) {
  display: none;
}
/* style first row bold */
#csvtablecontainer table tr:first-child td {
  font-weight: bold;
  background-color: var(--vibrantorange);
  color: white;
  border: none;
  text-align: left;
  font-size: 20px;
  padding: 18px;
}
/* add border radius to the whole table */
#csvtablecontainer table tr:first-child td:nth-of-type(1) {
  border-top-left-radius: 10px;
  padding-left: 10px;
}
#csvtablecontainer table tr:first-child td:nth-of-type(4) {
  border-top-right-radius: 10px;
  padding-right: 15px;
}

#csvtablecontainer table tr:last-child td:nth-of-type(1) {
  border-bottom-left-radius: 10px;
}
#csvtablecontainer table tr:last-child td:nth-of-type(4) {
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;

  border-collapse: separate;
}
#csvtablecontainer table tr:nth-of-type(3) td {
  font-weight: bold;
}
/* change alignment */
td:nth-child(1),
th:nth-child(1) {
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: left;
}

td:nth-child(3),
th:nth-child(3) {
  text-align: center;
}

#csvtablecontainer td:nth-child(5) {
  display: none;
}

/* alternating bcg for lines */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* style Degreeview Logo */

#csvtablecontainer table tr:last-child {
  background-color: #fff;
}
#csvtablecontainer table tr:last-child td:first-child {
  font-weight: bold;
  color: #0c48a5;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 30px;
}

/* for the rendered csv page, which is currently the semester one 





*/
#semester-csvtablecontainer table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
/* for aniamtions

*/
#semester-csvtablecontainer table tr {
  /* transition: font-size calc(var(--order) * 300ms) ease; */
}

#semester-csvtablecontainer table td,
#semester-csvtablecontainer table th {
  border: 1px solid #ccc;
  padding: 15px 9px;
  min-height: 40px;
}

/* delete 2nd row */

#semester-csvtablecontainer table tr:nth-of-type(2) {
  display: none;
}
/* style first row bold */
#semester-csvtablecontainer table tr:first-child td {
  font-weight: bold;
  background-color: var(--vibrantorange);
  color: white;
  border: none;
  text-align: left;
  font-size: 20px;
  padding: 18px;
}
/* add border radius to the whole table */
#semester-csvtablecontainer table tr:first-child td:nth-of-type(1) {
  border-top-left-radius: 10px;
  padding-left: 10px;
}
#semester-csvtablecontainer table tr:first-child td:nth-of-type(6) {
  border-top-right-radius: 10px;

  padding-right: 15px;
}

#semester-csvtablecontainer table tr:last-child td:nth-of-type(1) {
  border-bottom-left-radius: 10px;
}
#semester-csvtablecontainer table tr:last-child td:nth-of-type(5) {
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;

  border-collapse: separate;
}
#semester-csvtablecontainer table tr:nth-of-type(3) td {
  /* this is the subheading row */
  font-size: 17px;

  font-weight: bold;
}
/* change alignment */
#semester-csvtablecontainer td:nth-child(1),
#semester-csvtablecontainer th:nth-child(1) {
  text-align: right;
  padding-right: 15px !important;
  font-weight: bold;
  font-size: 17px;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: left;
}

#semester-csvtablecontainer td:nth-child(3),
th:nth-child(3) {
  text-align: left;
}
#semester-csvtablecontainer td:nth-child(4) {
  text-align: center;
}

#semester-csvtablecontainer td:nth-child(5),
th:nth-child(5) {
  /* this would remove the schoolname normally */
  /* display: none; */
}

/* alternating bcg for lines */
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #fafafa;
}

/* style Degreeview Logo */

#semester-csvtablecontainer table tr:last-child {
  background-color: #fff;
}
#semester-csvtablecontainer table tr:last-child td:first-child {
  font-weight: bold;
  color: #0c48a5;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 30px;
  text-align: left;
}

#semester-csvtablecontainer table tr:last-child td:last-child {
  color: transparent;
}

.dummytd {
  background-color: yellow;
}

@media screen and (max-width: 550px) {
  #csvtablecontainer table td {
    width: 95%;
    padding: 15px 4px;
    font-size: 15.5px;
  }

  #csvtablecontainer table tr:last-child td:first-child {
    font-weight: bold;
    color: #0c48a5;
    font-family: "Barlow";
    font-weight: 600;
    /* make the logo box smaller */
    font-size: 20px !important;
  }

  /* now semester table */

  #semester-csvtablecontainer table td {
    width: 95%;
    padding: 15px 4px;
    font-size: 15px;
  }

  /* make the logo box smaller */
  #semester-csvtablecontainer table tr:last-child td:first-child {
    font-weight: bold;
    color: #0c48a5;
    font-family: "Barlow";
    font-weight: 600;
    font-size: 20px !important;
  }
}
