/* Idea for this one:
Basically everything is flex. To make it responsive switch direction from flex row to flex column
*/

:root {
  --secondarynavy: #153f66;
  --lighterblue: #284dbc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* crazy filters to apply */

  /* filter: invert(100%); */

  /* filter: grayscale(50%); */

  filter: contrast(110%);

  /* filter: blur(3px); */

  filter: saturate(110%);
}

/* 

This is all nav bar stuff:*/

/* end nav bar stuff */

.sitecontainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* 
Above mainsite and its children
*/

.abovemainsite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 500px;
}
/* topnav beginning */
.topnav {
  /* change this color to see it and make changes */

  background-color: #eee;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* keep this */
  filter: drop-shadow(4px 0px 2px rgb(67, 66, 66));
}

.biglogobox {
  height: 100px;
  overflow: hidden; /* optional: clips the image if it's too big */
}
.biglogo {
  /* height the same as topnav here, 100px */
  height: 100%;
  width: auto;
}
/* 

still in top nav, but now the homeandabout section

*/
.homeandabout {
  background-color: #153f66;
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: row;
  /* this jsut centers the ul */
  align-items: center;
  justify-content: center;
}

.homeandabout ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.homeandabout ul li {
  /* make them big so you can hover */
  /* each one takes up 1/3 width */
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.homeandabout li:hover {
  background-color: #284dbc;
}
.homeandabout ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  /* nice font when bolded */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* make the whole li box clickable */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* now outside of top nav */

.headingbox {
  /* border: 4px solid black; */
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#headingtitle {
  font-size: 45px;
  color: #060212;
  margin: 0;
}

/* now done with above main site... */

/* mainsite will be the name, plus some of the files, plus some images. But there can be stuff below it in, Since sitecontainer is flex column  */

.mainsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 35px;
  width: 100%;
  padding: 40px 30px;

  flex: 1 1 500px;
  border-top: 10px solid #153f66;
  border-bottom: 10px solid #153f66;
}
.aboutbox {
  width: 90%;
  border: 5px black dashed;
  border-radius: 26px;
  padding: 30px 35px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
}
.about-paragraph a {
  text-decoration: none;
  color: #153f66;
}

.about-paragraph a:hover {
  text-decoration: none;
  color: #153f66;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.infobox {
  width: 90%;
  border: 5px black dashed;
  border-radius: 26px;
  padding: 30px 35px;
  font-family: Helvetica, sans-serif;

  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  a {
    text-decoration: none;
    color: #153f66;
    &:hover {
      text-decoration: none;
      color: #153f66;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }
  }
}

.substackcontainer {
  font-weight: normal;
  margin-top: 50px;
  border: 5px solid var(--secondarynavy);
  border-radius: 26px;
  width: 90%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  p {
    width: 80%;
    a {
      display: inline;
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: #153f66;
    width: 10%;
    &:hover {
      text-decoration: none;
      color: #153f66;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }

    .bi-substack {
      font-size: 49px;
      width: 45px;
      height: 45px;
      fill: #ff7731; /* for SVG */

      /* remove it for now: */
    }
  }
}

#disclaimer {
  margin-top: 200px;
  font-style: italic;
  font-weight: normal;
}
.platformscontainer {
  width: 90%;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  display: none;
}

.platformscontainer p {
  margin: 6px 0px;
}

.platformsbox {
  border-bottom: 5px solid #153f66;
  border-top: 1.3px solid #eee;
  width: 30%;
  min-width: 190px;
  padding: 10px 30px;
  border-radius: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  /* this was that icon stuff I was trying to find */
  width: 100%;

  display: none;
  /* for now */
}

.icons a .fa-linkedin {
  font-size: 36px;
  color: #0072b1;
  margin-bottom: 9px;
}
.icons a .bi-substack {
  font-size: 34px;
  width: 30px;
  height: 30px;
  fill: #ff7731; /* for SVG */

  /* remove it for now: */
  display: none;
}
/* 
Begin left content stuff
*/

.filescontainer {
  border: 4px dashed rgb(16, 11, 82);
  border-radius: 26px;
  width: 92%;
  padding: 20px 29px;
}

/* this controls this h3 elements in files container */
.filescontainer h3 {
  color: #284dbc;
}
.filescontainer ul {
  list-style-type: none; /* Removes bullets */
  /* indent */
  padding-left: 30px;
}
.linkbox {
  display: flex;
  flex-direction: row;
  /* make the download text all even */
  justify-content: space-between;

  align-items: center;
  column-gap: 40px;
}

/* this changes the styling on the names of the file like "Sample Semester PDF */
.linkbox p:first-of-type {
  margin-top: 10px;
  font-weight: bold;
  max-width: 137px;
}

/* add animations to these mf's */
.linkbox a i {
  color: rgb(21, 21, 69);
}

/* end left content stuff */
/* 





*/
/* Right content stuff */
.rightcontent {
  flex: 60%;
  background-color: rgb(232, 80, 56);
  padding: 0px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.degreelistheaderbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}
.degreelistbox {
  border: 4px solid rgb(224, 233, 244);
  border-radius: 26px;
  width: calc(100% - 80px);
  padding: 20px 10px 20px 40px;
}
.degreelistbox ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  /* control paddig in the degreelistbox instead, its easier */
  padding: 0;
}
.degreelink {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;

  font-weight: bold;
}
.degreelink a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.linksvg {
  filter: invert(100%) brightness(200%);
  width: 20px;
  height: auto;

  margin-top: 6px;
}
/* 




*/
.undermainsite {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* this is for now essentially footer top margin */
  height: 0px;
  display: flex;
  flex-direction: row;
}

.visuals {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visuals #displayeditemname {
  color: blue;
}

.visuals .displayedpdf {
  border-radius: 26px;
}
/* end under main site */

footer {
  height: 120px;
  width: 100%;
  background-color: #00184b74;
  color: White;

  padding: 20px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: 30px;

  font-family: Helvetica, sans-serif;
}
footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 35px;
  font-size: 19px;
}
.footerleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.footerleft #statement {
  font-family: "Barlow", sans-serif;

  font-size: 25px;
  margin: 0;
  font-weight: 700;
}
footer #smalllogo {
  /* animation has been added in animations.css  */
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 3px solid #081a75;
}
.barlowtest {
  font-family: "Barlow", sans-serif;

  font-size: 25px;
  margin: 0;
  font-weight: 600;
  color: black;
}

footer a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

/* beginning of all the media quieries */

@media screen and (min-width: 700px) and (max-width: 1272px) {
  #headingtitle {
    font-size: 45px;
    color: #060212;
  }
}

@media screen and (max-width: 1135px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */
    height: 260px;
  }

  .headingbox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 150px;
    width: 100%;
    padding-left: 20px;
  }
  .topnav {
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* top nav currently 250px */
  }

  /* theres already padding here from the originally declared style */
  .breadcrumbs {
    background-color: #eee;
    flex-basis: auto;
    width: 69%;

    height: 100px;
    /* the breadcrumbs content will possibly wrap */
  }

  /* add some right padding */
  .breadcrumbs ul {
    padding-left: 30px;
    padding-right: 10px;
  }
  .homeandabout {
    width: 30%;
  }
}
/* 

Mobile Screens

*/
@media screen and (max-width: 700px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */

    /* bigger height as well for the bigger topnav */
    height: calc(175px + 177px);
  }

  .headingbox {
    height: 185px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  #headingtitle {
    font-size: 45px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 177px;
    /* removed the fixed navbar */
    position: static;
    filter: none;
  }

  .homeandabout {
    /* bring it to the top */
    order: 1;
    height: 65px;
    width: 100%;

    filter: drop-shadow(4px 1px 3px rgb(67, 66, 66));
  }
  .biglogobox {
    background-color: #eee;
    width: 100%;
    flex: none;

    height: 110px;
    order: 2;
    border-bottom: 2px solid #eee;

    /*  */
  }

  .biglogo {
    height: 100%;
    width: auto;
  }
  /* 
  

  
   this one here is pretty important */
  .mainsite {
    flex-direction: column;
  }

  .platformsbox {
    width: 40%;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 26px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    /* this was that icon stuff I was trying to find */
    width: 100%;
  }
  .icons a .fa-linkedin {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #0072b1;
    margin-bottom: 7px;
  }
  .icons a .bi-substack {
    font-size: 10px;
    width: 27px;
    height: 27px;
    fill: #ff7731; /* for SVG */
  }
}

/* even smaller screensizes here */
@media screen and (max-width: 550px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */

    /* bigger height as well for the bigger topnav */
    height: calc(185px + 175px);
  }

  .headingbox {
    height: 185px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  #headingtitle {
    font-size: 45px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 185px;
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 65px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 1px 3px rgb(67, 66, 66));
  }
  .biglogobox {
    background-color: #eee;
    width: 100%;
    flex: none;

    height: 110px;
    order: 2;
    border-bottom: 2px solid #eee;

    /*  */
  }

  .biglogo {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .abovemainsite {
    display: flex;
    flex-direction: column;
    /* more height to allow both title and breadcrumbs to be seen */

    /* bigger height as well for the bigger topnav */
    height: calc(185px + 175px);
  }

  .headingbox {
    height: 185px;
    width: 100%;
    flex: none;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  #headingtitle {
    font-size: 45px;
    color: #060212;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    /* height larger to have both on top of each other */
    height: 175px;
    /* big logo box is 110 plus homeandabout is 175 */
    /* removed the fixed navbar */
    filter: none;
  }
  .homeandabout {
    /* bring it to the top */
    /* order: 1; */
    height: 65px;
    width: 100%;
    /* instead make this be the new fixed one */
    /* ok this wont work as long as I had the filter on topnav. For now I will keep the filter over the fixed positoin */
    /* position: fixed;
    top: 0;
    z-index: 999;*/
    filter: drop-shadow(4px 1px 3px rgb(67, 66, 66));
  }
}
